body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #282b2e;
}
.wrapper {
    text-align: center;
    border: 3px solid 	#455566;
    width: 550px;
    height: 550px;
}
canvas {
    background-image: url(3bbk.gif), url(1DFCC4D1-C2A5-4E6E-AB06-E295B8FF4ABF_1_105_c.jpeg);
}

img {
    display: none;
}